<h1 class="text-center">Welcome to LoveetBurger </h1>

<h2>Sorry for the long line, now you can pre-order your burger using our app</h2>

<div class="row">
  <div class="col-md">
    {{!-- Burgers to be eaten--}}
    <ul>
      <h3 class="text-left">Menu</h3>
      {{#each brgr}}
      {{#unless this.devoured}}
      <div class="card">
        <p>
          {{this.id}}. {{this.burger_name}}
          <form class="change-devoured" data-id="{{this.id}}" data-newdevoured="{{this.devoured}}">
            <button type="submit" class="btn-success">DEVOUR IT!</button>
          </form>
          <button class="delete btn-warning" data-id="{{this.id}}">Delete</button>
        </p>
      </div>
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  {{!-- burger icon box --}}
  <div class="col-md">
    <h2 class="text-center">Add burger here</h2>
    <img class="responsive" src="assets/img/hamburger.gif">
    <form class="create-form">
      <div class="form-group">
        <p class="text-center">Enter the burger of your choice</p>
        <input type="text" id="bg" name="burger_name">
      </div>
      <button type="submit" class="position-absolute">Add to Selection!</button>
    </form>
  </div>

  {{!-- Devoured Burgers --}}
  <div class="col-md">
    <ul>
      <h3 class="text-left">Devoured</h3>
      {{#each brgr}}
      {{#if this.devoured}}
      <div class="card">
        <p class="grey-text">
          {{this.id}}. {{this.burger_name}}
        </p>
        <button class="delete btn-warning btn-sm" data-id="{{this.id}}">Delete</button>
      </div>
      {{/if}}
      {{/each}}
    </ul>
  </div>